@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

.bg-container{
    background-image: url(https://images3.alphacoders.com/729/thumb-1920-729264.jpg);
    height: 100vh;
    background-size:cover;
}
.card{
    text-align: center;
    background-color:white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 5px;
}
.button{
    height: 36px;
    width: 156px;
    background-color: #1ca7b1;
    color: whitesmoke;
    border-radius: 25px;
    border-width: 0px;
}
